* {
  font-family: "Inter", sans-serif;
}
.long-scale {
  width: 692px;
  height: 9px;
  background: #e7f0fa;
}
.middle {
  position: absolute;
  left: 16.67%;
  right: 16.67%;
  top: 12.5%;
  bottom: 12.5%;
  border: 2px solid #0a65cc;
}
.svg {
  background: #e7f0fa;
  padding: 21px;
}
.bg-svg {
  background: #e7f0fa;
  
}
.create-your-resume {
  width: 984px;
  height: 32px;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  color: #18191c;
}
.description {
  width: 312px;
  height: 40px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  color: #474c54;
  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
}
.button {
  padding: 12px 24px;
  gap: 12px;
  width: 146px;
  height: 48px;
  left: 1055px;
  top: 434px;
  background: #0a65cc;
  color: white;
  border-radius: 4px;
}
